{{ form_start(form,
    {action: path('app_admin_post_add')}
) }}
{{ form_widget(form.title) }}
{{ form_widget(form.subTitle) }}
{{ form_widget(form.postType) }}
{{ form_widget(form.gallery) }}

<button type="submit">Lưu</button>

{{ form_end(form)}}
