{% embed 'Admin/partials/modal.html.twig' %}
    {% block title %}Add new User{% endblock %}
    {% block modalClass %}modal-dialog-centered p-10 mw-900px{% endblock %}
    {% block body %}
        {{ form_start(form) }}
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Username</label>
            <!--end::Label-->
            <!--begin::Input-->
            {{ form_widget(form.username, {attr: {'class': "form-control fs-7"}}) }}
            <!--end::Input-->
        </div>
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="{% if user.id is null%}required{% endif %} fs-6 fw-semibold mb-2">Password</label>
            <!--end::Label-->
            <!--begin::Input-->
            {{ form_widget(form.password, {attr: {'class': "form-control fs-7"}}) }}
            <!--end::Input-->
        </div>
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Roles</label>
            <!--end::Label-->
            <!--begin::Input-->
            {{ form_widget(form.roles) }}
            <!--end::Input-->
        </div>
        <button type="button" class="btn btn-primary"
                data-action="click->Admin--user-add#onSubmit">Submit</button>
        {{ form_end(form) }}
    {% endblock %}
{% endembed %}