<div class="contact-info">
    <div class="heading">
        <h2 class="title underline">Thông tin liên hệ</h2>
    </div>

    <div class="info-list">
        {% if data.address %}
            <div class="info addr">
                <i class="zmdi zmdi-home"></i>
                <span>{{ data.address }}</span>
            </div>
        {% endif %}

        {% if data.phone %}
            <div class="info phone">
                <i class="zmdi zmdi-phone"></i>
                <a href="tel:{{ data.phone }}"><span>{{ data.phone }}</span></a>
            </div>
        {% endif %}

        {% if data.email %}
            <div class="info email">
                <i class="zmdi zmdi-email"></i>
                <a href="mailto:{{ data.email }}"><span>{{ data.email }}</span></a>
            </div>
        {% endif %}

        {% if data.organization_1 %}
            <div class="info more">
                <i class="zmdi zmdi-account-circle"></i>
                <a href="#"><span>{{ data.organization_1 }}</span></a>
            </div>
        {% endif %}
        {% if data.organization_2 %}
            <div class="info more">
                <i class="zmdi zmdi-accounts-alt"></i>
                <a href="#"><span>{{ data.organization_2 }}</span></a>
            </div>
        {% endif %}
        {% if data.organization_3 %}
            <div class="info more">
                <i class="zmdi zmdi-info"></i>
                <a href="#"><span>{{ data.organization_3 }}</span></a>
            </div>
        {% endif %}
    </div>
</div>