{% macro sidebar_page_icon(size = '2') %}
    <i class="ki-duotone ki-element-7 fs-{{ size }}">
        <span class="path1"></span>
        <span class="path2"></span>
    </i>
{% endmacro %}

{% macro sidebar_dashboard_icon(size = '2') %}
    <i class="ki-duotone ki-element-11 fs-{{ size }}">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
    </i>
{% endmacro %}

{% macro icon_edit(size = '3') %}
    <i class="ki-duotone ki-pencil fs-{{ size }}">
        <span class="path1"></span>
        <span class="path2"></span>
    </i>
{% endmacro %}

{% macro icon_copy(size = '3') %}
    <i class="ki-duotone ki-copy fs-{{ size }}">
    </i>
{% endmacro %}
{% macro icon_add(size = '3') %}
    <i class="ki-duotone ki-abstract-10 fs-{{ size }}">
        <span class="path1"></span>
        <span class="path2"></span>
    </i>
{% endmacro %}

{% macro icon_delete(size = '3') %}
    <i class="ki-duotone ki-trash fs-{{ size }}">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
        <span class="path4"></span>
        <span class="path5"></span>
    </i>
{% endmacro %}


{% macro icon_eye(size = '3') %}
    <i class="ki-duotone ki-eye fs-{{ size }}">
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>
    </i>
{% endmacro %}


{# Area: Table #}
{% macro table_column_action() %}
{#    <th class="action-column-header text-center bg-light-secondary w-75px">STT</th>#}
    <th class="action-column-header fw-semibold bg-light-primary w-150px">Action</th>
{% endmacro %}

{% macro table_column_default(label = "Not found", align = "text-center") %}
    <th class="sticky-top fw-semibold bg-light-primary {{ align }}">{{ label }}</th>
{% endmacro %}

{% macro table_get_input_search() %}
    <div class="position-relative my-1">
        <i class="ki-outline ki-magnifier fs-2 position-absolute top-50 translate-middle-y ms-4"></i>
        <input type="search" data-model="debounce(500)|keyword"
               class="form-control  w-200px ps-13" placeholder="Search...">
    </div>
{% endmacro %}
{# Area: End Table #}


{% macro toggle(label, name = "toogle-default" ,checked = false, id) %}
    <div class="form-check form-switch form-check-custom form-check-solid">
        <input class="form-check-input" type="checkbox" name="{{ name }}" id="{{ id }}"  {% if checked %} checked="checked" {% endif %}>
        <label class="form-check-label fw-semibold text-gray-500 ms-3" for="{{ id }}">{{ label }}</label>
    </div>
{% endmacro %}





