{{ dump(block   ) }}
    <section class="block prune-block">
        <div class="container">
            {% for child in block.getChildren() %}
                <div class="card-large {{ child.getLocation() }}">
                    <img src="{{ asset(child.background?? 'assets/img/default.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ child.title }}</h5>
                        <div class="card-text tool-editor">
                            {{ child.content| raw }}
                        </div>
                        {# <a href="{{ path('route_name', {'id': child.getId()}) }}" class="btn btn-primary">KHÁM PHÁ</a> #}
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

<section class="prune-next">
    <div class="container maxW-800">
        <div class="heading">
            <h2 class="title underline">SỰ KHÁC BIỆT CỦA MẬN CALIFORNIA</h2>
            <div class="text tool-editor">
                <p style="color: black;">Không nơi nào trên thế giới thích hợp để trồng mận hơn những thung lũng xanh tươi của California, nơi cây cối bén rễ trong lớp đất được nuôi dưỡng bởi các dòng sông cổ xưa và luôn ngập tràn ánh nắng.</p>
            </div>
            <a href="different.html" class="btn btn-primary">KHÁM PHÁ</a>
        </div>
    </div>
</section>
