{{ dump(block   ) }}
    <section class="block prune-block">
        <div class="container">
            {% for child in block.getChildren() %}
                <div class="card-large {{ child.getLocation() }}">
                    <img src="{{ asset(child.background?? 'assets/img/default.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ child.title }}</h5>
                        <div class="card-text tool-editor">
                            {{ child.content| raw }}
                        </div>
                        {# <a href="{{ path('route_name', {'id': child.getId()}) }}" class="btn btn-primary">KHÁM PHÁ</a> #}
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

    {% if block.parent is null %}
    <section class="prune-next">
        <div class="container maxW-800">
            <div class="heading">
                <h2 class="title underline">{{ block.title }}</h2>
                <div class="text tool-editor">
                    {{ block.content|raw }}
                </div>
                <a href="" class="btn btn-primary">KHÁM PHÁ</a>
            </div>
        </div>
    </section>
    {% endif %}
