<section class="block prune-block">
    <div class="container">
        {% set content = block.content | json_decode %}
        {% if content.listingItem is defined and content.listingItem is not empty %}
        {% for item in content.listingItem %}
        <div class="card-large {{ loop.index is odd ? "right" : "" }}">
            <img src="{% if item.image is not empty and item.image != '' %}{{ asset(item.image) }}{% else %}{{ asset('themes/mancali/assets/img/product/product-01.png') }}{% endif %}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <div class="card-text tool-editor">
                    {% if  item.description is not null %}
                        {{ item.description | raw }}
                    {% else %}
                        <p>Mận khô số lượng lớn có thể có hạt hoặc đã tách hạt, và cũng có thể được cung cấp có hoặc không bổ sung kali sorbat (chất bảo quản).</p>
                    {% endif %}
                </div>
                <!--<a href="#" class="btn btn-primary">khám phá</a>-->
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</section>