<main>
    <section class="block prune-block">
        <div class="container maxW-800">
            <div class="heading">
                <h2 class="title">{{ block.title }}</h2>
                <h2 class="subtitle underline">{{ block.subTitle }}</h2>
                <div class="text tool-editor">
                    <p style="color: black;">{{ block.content | raw }}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="block prune-block prune-handler">
        <div class="container">
            <table cellpadding="0" cellspacing="0">
                <thead>
                <tr>
                    <td>CÔNG TY</td>
                    <td>THÔNG TIN LIÊN HỆ</td>
                    <td>SẢN PHẨM</td>
                </tr>
                </thead>
                <tbody>
                {% for manufacturer in manufacturer_data() %}
                    <tr>
                        <td>
                            <h6 class="name">{{ manufacturer.name }}</h6>

                            <div class="addr">
                                <i class="zmdi zmdi-home"></i>
                                <div class="tool-editor addr">
                                    <p>{{ manufacturer.address }}</p>
                                </div>
                            </div>

                            <div class="d-block d-md-none">
                                <p class="phone">
                                    <i class="zmdi zmdi-phone"></i>
                                    <a href="tel:{{ manufacturer.phone }}">{{ manufacturer.phone }}</a>
                                </p>
                                <p class="email">
                                    <i class="zmdi zmdi-email"></i>
                                    <a href="mailto:{{ manufacturer.email }}">{{ manufacturer.email }}</a>
                                </p>
                                <p class="web">
                                    <i class="zmdi zmdi-globe"></i>
                                    <a target="_blank" href="{{ manufacturer.urlWeb }}">{{ manufacturer.urlWeb }}</a>
                                </p>

                                <div class="exportType">
                                    {% for product in manufacturer.products %}
                                        <span>{{ product|upper }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </td>

                        <td>
                            <p class="phone">
                                <i class="zmdi zmdi-phone"></i>
                                <a href="tel:{{ manufacturer.phone }}">{{ manufacturer.phone }}</a>
                            </p>
                            <p class="email">
                                <i class="zmdi zmdi-email"></i>
                                <a href="mailto:{{ manufacturer.email }}">{{ manufacturer.email }}</a>
                            </p>
                            <p class="web">
                                <i class="zmdi zmdi-globe"></i>
                                <a target="_blank" href="{{ manufacturer.urlWeb }}">{{ manufacturer.urlWeb }}</a>
                            </p>
                        </td>

                        <td>
                            <div class="exportType">
                                {% for product in manufacturer.products %}
                                    <span>{{ product|upper }}</span>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </section>
</main>
