{% extends 'Admin/base.html.twig' %}
{% block title %}CMS-Menu Management{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/styles/setting.css') }}">
{% endblock %}

{% block toolbar %}
    {% embed 'Admin/partials/toolbar.html.twig' %}
        {% block toolbar_title %}Menu Management{% endblock toolbar_title %}

        {% block toolbar_breadcrumbs %}
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="#" class="text-muted text-hover-primary">Menu</a>
            </li>
            <!--end::Item-->
        {% endblock toolbar_breadcrumbs %}

        {% block toolbar_button_actions %}
            <a href="{{ path('app_admin_menu_add') }}" class="btn btn-sm fw-bold btn-primary">Thêm bài viết </a>
        {% endblock toolbar_button_actions %}
    {% endembed %}
{% endblock %}

{% block body %}
    {{ component('TableMenuLiveComponent', {'id': "TableMenuLive"}) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}