<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/png" href="{{ asset('themes/mancali/assets/img/favicon.png') }}">
        <link rel="apple-touch-icon" href="{{ asset('themes/mancali/assets/img/favicon.png') }}">

        <!-- SEO Config -->
        <meta http-equiv="content-language" content="" />
        <title>California Prunes Vietnam</title>
        <meta name="title" content="">
        <meta name="description" content="">
        <link rel="canonical" href="">

        <meta property="og:locale" content="">
        <meta property="og:type" content="">
        <meta property="og:url" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">

        <link href="{{ asset('themes/mancali/assets/css/main.css') }}" rel="stylesheet">
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
        {% block importmapp %}
            {{ importmap('app') }}
        {% endblock %}
    </head>
    <body suported-aos><!--class="colorMode" suported-aos-->
        {% block header %}
            {{ include('themes/mancali/partials/header.html.twig') }}
        {% endblock %}
        {% block body %}{% endblock %}
    {% block footer %}
        {{ include('themes/mancali/partials/footer.html.twig') }}
    {% endblock %}
        {{ include('themes/mancali/partials/search_modal.html.twig') }}
        {{ include('themes/mancali/partials/overlay_loading.html.twig') }}
        {{ include('themes/mancali/partials/ticket_success_modal.html.twig') }}
        <script src="{{ asset('themes/mancali/assets/js/main.js') }}"></script>

        <script>
            const observer = lozad('.lozad', {
                loaded: function(el) {
                    // Custom implementation on a loaded element
                    el.classList.add('loaded');
                }
            });
            observer.observe();
        </script>
    </body>
</html>
