<div class="modal" id="editModal" style="display: block;">
    <div class="modal-content">
        <div class="modal-header">
            <h2>Sửa cài đặt</h2>
            <button class="close" onclick="closeEditModal()">×</button>
        </div>
        <div class="modal-body">
            {{ form_start(form, {
                action: path('app_admin_setting_edit', { id: setting.id }),
                method: 'POST'
            }) }}
            {{ form_row(form.settingKey) }}
            {{ form_row(form.settingType) }}
            {{ form_row(form.value) }}
            {{ form_row(form.width) }}
            {{ form_row(form.height) }}

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                <button type="button" class="btn btn-secondary" onclick="closeEditModal()">Hủy</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
