<div{{ attributes.defaults({
    'class': 'w-100'
}) }}>
    <div class="d-flex flex-xl-row gap-1 gap-xl-2 align-items-center flex-row-fluid">
        <!--begin::Form-->
        <form class="w-100" autocomplete="off">
            {% import 'Admin/partials/macros.html.twig' as macros %}
            {{ macros.table_get_input_search("w-100") }}
        </form>
        <!--end::Form-->
        {% if this.hasAddNew %}
            <button type="button" class="btn btn-flex btn-sm btn-light-primary h-40px" data-action="live#action:prevent"
                    data-live-action-param="addNew"
            >
                <i class="ki-duotone ki-cross fs-2 p-0">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i></button>
        {% else %}
            <button type="button" class="btn btn-flex btn-sm btn-light-primary h-40px" data-action="live#action:prevent"
                    data-live-action-param="addNew"
            >
                <i class="ki-duotone ki-add-folder fs-2 p-0">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i></button>
        {% endif %}
    </div>
    <!--begin::List-->
    <div class="scroll-y me-n5 pe-5 h-200px h-lg-auto" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_header, #kt_app_header, #kt_toolbar, #kt_app_toolbar, #kt_footer, #kt_app_footer, #kt_chat_contacts_header" data-kt-scroll-wrappers="#kt_content, #kt_app_content, #kt_chat_contacts_body">
        {% if this.hasAddNew %}
            {{ form_start(form) }}
            {{ form_row(form.name) }}

            <button type="button" class="btn btn-sm btn-primary fs-7" data-action="live#action:prevent" data-live-action-param="saveNewGallery">Save</button>
            {{ form_end(form) }}
        {% endif %}
        {% for gallery in computed.data %}
            <!--begin::Item-->
            <div class="d-flex flex-stack py-4 ">
                <!--begin::Details-->
                <div class="d-flex align-items-center">
                    <span class="icon-wrapper">
                        <i class="ki-duotone ki-folder fs-2x text-muted me-4">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </span>
                    <a href="#" data-action="live#action:prevent" data-live-action-param="setGallery"
                       data-live-gallery-param="{{ gallery.id }}"
                       class="{{ this.gallery.id == gallery.id ? "text-primary": "text-gray-800"  }} text-hover-primary">{{ gallery.name }}</a>
                    <span class="badge badge-sm badge-circle badge-light-success">{{ gallery.countPictures }}</span>
                </div>
                <!--end::Details-->
                <!--begin::Lat seen-->
                <div class="d-flex flex-column align-items-end">
                    <span class="text-muted fs-7">{{ gallery.createdAt | date('d/m/Y H:i:a') }}</span>
                </div>
                <!--end::Lat seen-->
            </div>
            <!--end::Item-->
        {% endfor %}
    </div>
    <!--end::List-->
</div>

{% macro placeholder(props) %}
    <div class="w-100 h-150px d-flex justify-content-center align-items-center">
        <span class="fs-7 primary-hp fw-bold text-center">Loading.....</span>
    </div>
{% endmacro %}
