<div{{ attributes }}>
    {% import 'Admin/partials/macros.html.twig' as macros %}
    <div class="d-flex flex-wrap flex-stack mb-6">
        <!--begin::Title-->
        {{ macros.table_get_input_search() }}
        <!--end::Title-->
        <!--begin::Controls-->
        <div class="d-flex my-2">

        </div>
        <!--end::Controls-->
    </div>

    {% embed 'Admin/partials/table.html.twig' %}
        {% import 'Admin/partials/macros.html.twig' as macros %}
        {% block columns %}
            {{ macros.table_column_default("User") }}
            {{ macros.table_column_default("Title") }}
            {{ macros.table_column_default("Sub Title") }}
            {{ macros.table_column_default("Thumbnail") }}
            {{ macros.table_column_default("Created At") }}
        {% endblock %}

        {% block rows %}
            {% for article in computed.data %}
                <tr class="align-middle border-bottom border-gray-300 fs-7 text-center">
                    <td>
                        <a href="{{ path('app_admin_post_edit',{'id':article.id}) }}" class="btn btn-icon btn-active-light-primary me-1">
                            {{ macros.icon_edit() }}
                        </a>
                        <a href="{{ path('app_admin_article_delete', {'id': article.id}) }}" class="btn btn-icon btn-active-light-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa?')">
                            {{ macros.icon_delete() }}
                        </a>
                    </td>
                    <td>{{ article.getAuthor.username }}</td>
                    <td>{{ article.getPost.getTitle }}</td>
                    <td>{{ article.getPost.getSubTitle }}</td>
                    <td>
                        <img src="{{ asset(article.getPost.getThumbnail)??'' }}" alt="{{ article.post.title }}" width="40" height="40">
                    </td>

                    <td>{{ article.createdAt|date('Y-m-d H:i') }}</td>
                </tr>
            {% else %}
                <tr><td colspan="6">Không có dữ liệu cài đặt.</td></tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}


</div>