<div{{ attributes }}>
    {% import 'Admin/partials/macros.html.twig' as macros %}
    <div class="d-flex flex-wrap flex-stack mb-6">
        <!--begin::Title-->
        {{ macros.table_get_input_search() }}
        <!--end::Title-->
        <!--begin::Controls-->
        <div class="d-flex my-2">

        </div>
        <!--end::Controls-->
    </div>

    {% embed 'Admin/partials/table.html.twig' %}
        {% import 'Admin/partials/macros.html.twig' as macros %}
        {% block columns %}
            {{ macros.table_column_default("Name") }}
            {{ macros.table_column_default("Phone") }}
            {{ macros.table_column_default("Address") }}
            {{ macros.table_column_default("Product") }}
            {{ macros.table_column_default("Sort Order") }}
            {{ macros.table_column_default("URL") }}
            {{ macros.table_column_default("Created At") }}
        {% endblock %}


        {% block rows %}
            {% for manufacturer in computed.data %}
                <tr class="align-middle border-bottom border-gray-300 fs-7 text-center">
                    <td>
                        <a href="{{ path('app_admin_manufacturer_edit',{'id':manufacturer.id}) }}" data-amz-btn-open-modal class="btn btn-icon btn-active-light-primary me-1">
                            {{ macros.icon_edit() }}
                        </a>
                        <a href="{{ path('app_admin_manufacturer_delete', {'id': manufacturer.id}) }}" class="btn btn-icon btn-active-light-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa?')">
                            {{ macros.icon_delete() }}
                        </a>
                    </td>
                    <td>{{ manufacturer.name }}</td>
                    <td>{{ manufacturer.phone }}</td>
                    <td>{{ manufacturer.address }}</td>
                    <td>{{ manufacturer.products|join(', ') }}</td>
                    <td>{{ manufacturer.urlWeb }}</td>
                    <td>{{ manufacturer.createdAt|date('Y-m-d H:i') }}</td>
                </tr>
            {% else %}
                <tr><td colspan="100%">Không có dữ liệu cài đặt.</td></tr>
            {% endfor %}
        {% endblock %}

    {% endembed %}


</div>