<div{{ attributes }}>
    {% import 'Admin/partials/macros.html.twig' as macros %}
    <div class="d-flex flex-wrap flex-stack mb-6">
        <!--begin::Title-->
        {{ macros.table_get_input_search() }}
        <!--end::Title-->
        <!--begin::Controls-->
        <div class="d-flex my-2">

        </div>
        <!--end::Controls-->
    </div>

{% embed 'Admin/partials/table.html.twig' %}
    {% import 'Admin/partials/macros.html.twig' as macros %}
    {% block columns %}
        {{ macros.table_column_default("ID") }}
        {{ macros.table_column_default("Setting Key") }}
        {{ macros.table_column_default("Setting Value") }}
        {{ macros.table_column_default("Setting Type") }}
        {{ macros.table_column_default("Created At") }}
        {{ macros.table_column_default('Is Archived') }}
    {% endblock %}

    {% block rows %}
        {% for setting in computed.data %}
            <tr class="align-middle border-bottom border-gray-300 fs-7 text-center">
                <td>
                    <a class="btn btn-icon btn-active-light-primary me-1" href="{{ path('app_admin_gallery_edit',{'id':setting.edit}) }}">
                        {{ macros.icon_edit() }}
                    </a>
                    <a href="{{ path('app_admin_setting_destroy', {'id': setting.id}) }}" class="btn btn-icon btn-active-light-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa?')">
                        {{ macros.icon_delete() }}
                    </a>
                </td>
                <td>{{ setting.id }}</td>
                <td>{{ setting.settingKey }}</td>
                <td>
                    {% if setting.settingValue matches '/\.(jpg|jpeg|png|gif|webp)$/' %}
                        <img src="{{ setting.settingValue }}" width="50" height="50" alt="image">
                    {% else %}
                        {{ setting.settingValue|join(', ') }}
                    {% endif %}
                </td>
                <td>{{ setting.settingType}}</td>
                <td>{{ setting.createdAt|date('Y-m-d H:i') }}</td>
                <td>{{ setting.isArchived==0?'Lưu trữ':'Đã xóa' }}</td>
            </tr>
        {% else %}
            <tr><td colspan="6">Không có dữ liệu cài đặt.</td></tr>
        {% endfor %}
    {% endblock %}
{% endembed %}


</div>