<div{{ attributes }}>
    {% import 'Admin/partials/macros.html.twig' as macros %}
    <div class="d-flex flex-wrap flex-stack mb-6">
        <!--begin::Title-->
        {{ macros.table_get_input_search() }}
        <!--end::Title-->
        <!--begin::Controls-->
        <div class="d-flex my-2">

        </div>
        <!--end::Controls-->
    </div>
    {% embed 'Admin/partials/table.html.twig' %}
        {% import 'Admin/partials/macros.html.twig' as macros %}
        {% block columns %}
            {{ macros.table_column_default("Page Name", 'text-start') }}
            {{ macros.table_column_default("Language", 'text-start') }}
            {{ macros.table_column_default("CreatedAt", 'text-start') }}
            {{ macros.table_column_default("UpdatedAt",  'text-start') }}
        {% endblock %}
        {% block rows %}
            {% for item in computed.data %}

                <tr class="py-3 align-middle  border-bottom border-gray-300 fs-7">
                    <td class="action-column">
                        <a href="{{ path('app_admin_page_edit', {'id': item.id}) }}" class="btn btn-icon btn-active-light-primary w-30px h-30px me-2">
                            <span data-bs-toggle="tooltip" data-bs-trigger="hover" aria-label="Edit" data-bs-original-title="Edit">
                                {{ macros.icon_edit() }}
                            </span>
                        </a>
                        <a href="{{ path('app_admin_block_index', {'id': item.id}) }}" class="btn btn-icon btn-active-light-primary w-30px h-30px me-2">

                            <span data-bs-toggle="tooltip" data-bs-trigger="hover" aria-label="Block" data-bs-original-title="Block">
                                 <i class="ki-duotone ki-arrow-two-diagonals fs-2">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                        <span class="path3"></span>
                                        <span class="path4"></span>
                                        <span class="path5"></span>
                                    </i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-icon btn-active-light-primary w-30px h-30px me-2">
                            <span data-bs-toggle="tooltip" data-bs-trigger="hover" aria-label="Delete" data-bs-original-title="Delete">
                                {{ macros.icon_delete() }}
                            </span>
                        </a>
                    </td>
                    <td>{{ item.name }}<br>
                        <a target="_blank" href="{{ absolute_url('/'~ item.post.slug ~'.html') }}">{{ absolute_url('/'~ item.post.slug ~'.html') }}</a>
                    </td>
                    <td>Vietnamese</td>
                    <td>{{ item.createdAt | date('d/m/Y H:i:a') }}</td>
                    <td>{{ item.updatedAt | date('d/m/Y H:i:a') }}</td>
                </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
</div>
