<div{{ attributes }}>
    {% import 'Admin/partials/macros.html.twig' as macros %}

    <div class="d-flex flex-wrap flex-stack mb-6">
        {{ macros.table_get_input_search() }}
        <div class="d-flex my-2"></div>
    </div>

    {% embed 'Admin/partials/table.html.twig' %}
        {% import 'Admin/partials/macros.html.twig' as macros %}

        {% block columns %}
            {{ macros.table_column_default("Order", 'text-start') }}
            {{ macros.table_column_default("Block Name", 'text-start') }}
            {{ macros.table_column_default("Type", 'text-start') }}
            {{ macros.table_column_default("CreatedAt", 'text-start') }}
            {{ macros.table_column_default("UpdatedAt", 'text-start') }}
        {% endblock %}

        {% block rows %}
            {% for item in computed.data %}
                    <tr class="py-3 align-middle border-bottom border-gray-300 fs-7">
                        <td class="action-column">
                            <a href="{{ path('app_admin_block_edit', {'id': item.id}) }}" class="btn btn-icon btn-active-light-primary w-30px h-30px me-2">
                                <span data-bs-toggle="tooltip" data-bs-trigger="hover" aria-label="Edit" data-bs-original-title="Edit">
                                    {{ macros.icon_edit() }}
                                </span>
                            </a>
                            <a href="{{ path('app_admin_block_preview', {'id': item.id}) }}" class="btn btn-icon btn-active-light-primary w-30px h-30px me-2">
                                <span data-bs-toggle="tooltip" data-bs-trigger="hover" aria-label="Preview" data-bs-original-title="Preview">
                                    {{ macros.icon_eye() }}
                                </span>
                            </a>
                            <a href="#" class="btn btn-icon btn-active-light-primary w-30px h-30px me-2">
                                <span data-bs-toggle="tooltip" data-bs-trigger="hover" aria-label="Delete" data-bs-original-title="Delete">
                                    {{ macros.icon_delete() }}
                                </span>
                            </a>
                        </td>
                        <td>1</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.type }}</td>
                        <td>{{ item.createdAt | date('d/m/Y H:i:a') }}</td>
                        <td>{{ item.updatedAt | date('d/m/Y H:i:a') }}</td>
                    </tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}
</div>
