<div{{ attributes }}>
    {% import 'Admin/partials/macros.html.twig' as macros %}
    <div class="d-flex flex-wrap flex-stack mb-6">
        <!--begin::Title-->
        {{ macros.table_get_input_search() }}
        <!--end::Title-->
        <!--begin::Controls-->
        <div class="d-flex my-2">

        </div>
        <!--end::Controls-->
    </div>

    {% embed 'Admin/partials/table.html.twig' %}
        {% import 'Admin/partials/macros.html.twig' as macros %}
        {% block columns %}
            {{ macros.table_column_default("Name") }}
            {{ macros.table_column_default("Phone") }}
            {{ macros.table_column_default("Email") }}
            {{ macros.table_column_default("Topic") }}
            {{ macros.table_column_default("Content") }}
            {{ macros.table_column_default("Status") }}
            {{ macros.table_column_default("Created At") }}
            {{ macros.table_column_default("Updated At") }}
        {% endblock %}

        {% block rows %}
            {% for contact in computed.data %}
                <tr class="align-middle border-bottom border-gray-300 fs-7 text-center">
                    <td>
                        {% if contact.status == 1 %}
                        <a href="{{ path('app_admin_contact_update',{'id':contact.id}) }}" class="btn btn-icon btn-active-light-primary me-1">
                            {{ macros.icon_edit() }}
                        </a>
                        {% endif %}
                        <a href="{{ path('app_admin_contact_delete', {'id': contact.id}) }}" class="btn btn-icon btn-active-light-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa?')">
                            {{ macros.icon_delete() }}
                        </a>
                    </td>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.phone }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.topic }}</td>
                    <td>{{ contact.content }}</td>
                    <td>{{ contact.status ==0 ?'Đã xử lý':'Chưa xử lý'}}</td>
                    <td>{{ contact.createdAt|date('Y-m-d H:i') }}</td>
                    <td>{{ contact.updatedAt|date('Y-m-d H:i') }}</td>
                </tr>
            {% else %}
                <tr><td colspan="6">Không có dữ liệu cài đặt.</td></tr>
            {% endfor %}
        {% endblock %}
    {% endembed %}


</div>