{% embed 'Admin/partials/modal.html.twig' %}
    {% block title %}Add new Article {% endblock %}
    {% block modalClass %}modal-dialog-centered p-10 mw-900px{% endblock %}
    {% block body %}
        {{ form_start(form) }}
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Article Title</label>

            {{ form_widget(form.title, {attr: {'class': "form-control fs-7"}}) }}

        </div>
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Article Subtitle</label>

            {{ form_widget(form.subTitle, {attr: {'class': "form-control fs-7"}}) }}

        </div>
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Article Gallery</label>

            {{ form_widget(form.gallery, {attr: {'class': "form-control fs-7"}}) }}

        </div>
        <button type="button" class="btn btn-primary"
                data-action="click->Admin--topic#onSubmit">Submit</button>
        {{ form_end(form) }}
    {% endblock %}
{% endembed %}