{{ form_start(form,
    { action: path('app_admin_category_edit', {'id': category.id})})
}}
    {{ form_row(form.title) }}
    {{ form_row(form.slug) }}
    {{ form_row(form.icon) }}
    {{ form_row(form.thumbnail) }}
    {{ form_row(form.description) }}
    {{ form_row(form.customPath) }}
    {{ form_row(form.parent) }}
<button type="submit" class="btn btn-primary">Create</button>
{{ form_end(form) }}
