{% embed 'Admin/partials/modal.html.twig' %}
    {% block title %}Add new Manufacturer {% endblock %}
    {% block modalClass %}modal-dialog-centered p-10 mw-900px{% endblock %}
    {% block body %}
        {{ form_start(form) }}
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Manufacturer Name</label>

            {{ form_widget(form.name, {attr: {'class': "form-control fs-7"}}) }}

        </div>
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Manufacturer Email</label>

            {{ form_widget(form.email, {attr: {'class': "form-control fs-7"}}) }}

        </div>
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Manufacturer Phone</label>

            {{ form_widget(form.phone, {attr: {'class': "form-control fs-7"}}) }}

        </div>
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Manufacturer Address</label>

            {{ form_widget(form.address, {attr: {'class': "form-control fs-7"}}) }}

        </div>
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Manufacturer Product</label>

            {{ form_widget(form.products, {attr: {'class': "form-control fs-7"}}) }}

        </div>
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Manufacturer URL Website</label>

            {{ form_widget(form.urlWeb, {attr: {'class': "form-control fs-7"}}) }}

        </div>
        <div class="fv-row mb-7">
            <!--begin::Label-->
            <label class="required fs-6 fw-semibold mb-2">Manufacturer Sort</label>

            {{ form_widget(form.sortOrder, {attr: {'class': "form-control fs-7"}}) }}

        </div>
        <button type="button" class="btn btn-primary"
                data-action="click->Admin--manufacturer#onSubmit">Submit</button>
        {{ form_end(form) }}
    {% endblock %}
{% endembed %}