{% extends 'Admin/base.html.twig' %}

{% block title %}CMS-Edit Block{% endblock %}

{% block toolbar %}
    {% embed 'Admin/partials/toolbar.html.twig' %}
        {% block toolbar_title %}Edit Block | Page - {{ page.name }}{% endblock toolbar_title %}

        {% block toolbar_breadcrumbs %}
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="{{ path('app_admin_page_index') }}" class="text-muted text-hover-primary">Page</a>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-500 w-5px h-2px"></span>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="{{ path('app_admin_block_index', {'id': block.post.page.id}) }}" class="text-muted text-hover-primary">Block</a>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-500 w-5px h-2px"></span>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">Edit-Block</li>
            <!--end::Item-->
        {% endblock toolbar_breadcrumbs %}

    {% endembed %}
{% endblock %}

{% block body %}
    {% for flash in app.flashes %}
        {% for message in flash %}
            {{ message }}
        {% endfor %}
    {% endfor %}
    <div class="card card-flush py-4">
        <!--begin::Card header-->
        <div class="card-header">
            <div class="card-title">
                <h2>General</h2>
            </div>
        </div>
        <!--end::Card header-->
        <!--begin::Card body-->
        <div class="card-body pt-0">
            {{ form_start(form) }}
            <div class="row gx-2 gx-xl-4">
                <div class="col-12 col-md-6">
                    <div class="row gx-2 gx-xl-4">
                        <div class="col-12 col-md-6">
                            <div class="mb-10 fv-row">
                                <!--begin::Label-->
                                <label class="required form-label">Title</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                {{ form_widget(form.title, {attr: {'class': 'form-control fs-7'}}) }}
                                <!--end::Input-->
                                <!--begin::Description-->
                                <div class="text-muted fs-7">A product name is required and recommended to be unique.</div>
                                <!--begin::Input group-->
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="mb-10 fv-row">
                                <!--begin::Label-->
                                <label class="form-label">SubTitle</label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                {{ form_widget(form.subTitle, {attr: {'class': 'form-control fs-7'}}) }}
                                <!--end::Input-->
                                <!--begin::Description-->
                                <div class="text-muted fs-7">A product name is required and recommended to be unique.</div>
                                <!--begin::Input group-->
                            </div>
                        </div>
                    </div>
                    <div class="mb-10">
                        <!--begin::Label-->
                        <label class="form-label">Url</label>
                        <!--end::Label-->
                        {{ form_widget(form.url, {attr: {'class': 'form-control fs-7'}}) }}
                    </div>
                    <div class="mb-10">
                        <!--begin::Label-->
                        <label class="form-label">Location</label>
                        <!--end::Label-->
                        {{ form_widget(form.location) }}
                    </div>
                    <div class="mb-10">
                        <!--begin::Label-->
                        <label class="form-label">Description</label>
                        <!--end::Label-->
                        {{ form_widget(form.description, {attr: {'class': 'form-control fs-7'}}) }}
                        <!--begin::Description-->
                        <div class="text-muted fs-7">Set a description to the product for better visibility.</div>
                        <!--end::Description-->
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="mb-10">
                        <label class="form-label">Background</label>
                        <div class="flex-column d-flex gap-3" data-controller="core-gallery"
                             data-action="Admin--picture-global:picture@background@window->core-gallery#listenPickedPicture">
                            <div class="d-flex gap-2">
                                <a href="#" data-action="click->core-gallery#open:prevent" data-core-gallery-name-event-param="picture@background"
                                   class="btn btn-sm fw-bold btn-primary">Pick</a>
                            </div>
                            <div style="{% if block.background is null %}display: none"{% endif %} data-core-gallery-target="areaReview">
                                <img src="{% if block.background is not null %}{{ asset(block.background) }}{% endif %}" alt="review" class="mw-275px img-thumbnail" data-core-gallery-target="review">
                            </div>
                            {{ form_widget(form.background, {attr: {'data-core-gallery-target': "input"}}) }}
                        </div>
                    </div>
            <!--begin::Input group-->
            <div class="mb-10 fv-row">
                <!--begin::Label-->
                <label class="required form-label">Title</label>
                <!--end::Label-->
                <!--begin::Input-->
                {{ form_widget(form.title, {attr: {'class': 'form-control fs-7'}}) }}
                <!--end::Input-->
                <!--begin::Description-->
                <div class="text-muted fs-7">A product name is required and recommended to be unique.</div>
                <!--begin::Input group-->
            </div>

            <div class="mb-10 fv-row">
                <!--begin::Label-->
                <label class="form-label">SubTitle</label>
                <!--end::Label-->
                <!--begin::Input-->
                {{ form_widget(form.subTitle, {attr: {'class': 'form-control fs-7'}}) }}
                <!--end::Input-->
                <!--begin::Description-->
                <div class="text-muted fs-7">A product name is required and recommended to be unique.</div>
                <!--begin::Input group-->
            </div>
            <div class="mb-10">
                <!--begin::Label-->
                <label class="form-label">Location</label>
                <!--end::Label-->
                {{ form_widget(form.location, {attr: {class: 'form-control fs-7'}}) }}
                <!--begin::Description-->
                <div class="text-muted fs-7">Set a description to the product for better visibility.</div>
                <!--end::Description-->
            </div>
            <div class="mb-10">
                <!--begin::Label-->
                <label class="form-label">Description</label>
                <!--end::Label-->
                {{ form_widget(form.description, {attr: {'class': 'form-control fs-7'}}) }}
                <!--begin::Description-->
                <div class="text-muted fs-7">Set a description to the product for better visibility.</div>
                <!--end::Description-->
            </div>

            <div class="mb-10">
                <!--begin::Label-->
                <label class="form-label">Content</label>
                <!--end::Label-->
                {{ form_widget(form.content, {attr: {class: 'form-control fs-7','data-controller': 'ckeditor'}}) }}
                <!--begin::Description-->
                <div class="text-muted fs-7">Set a description to the product for better visibility.</div>
                <!--end::Description-->
            </div>


            <div>
                <label class="form-label">Background</label>
                <div class="flex-column d-flex gap-3" data-controller="core-gallery"
                     data-action="Admin--picture-global:pickedPicture@window->core-gallery#listenPickedPicture">
                    <div class="d-flex gap-2">
                        <a href="#" data-action="click->core-gallery#open:prevent"
                           class="btn btn-sm fw-bold btn-primary">Pick</a>
                        <a href="#"
                           class="btn btn-sm fw-bold btn-secondary">Cancel</a>
                    </div>
                    <div style="{% if block.background is null %}display: none"{% endif %} data-core-gallery-target="areaReview">
                        <img src="{% if block.background is not null %}{{ asset(block.background) }}{% endif %}" alt="review" class="mw-275px img-thumbnail" data-core-gallery-target="review">
                    </div>
                    {{ form_widget(form.background, {attr: {'data-core-gallery-target': "input"}}) }}
                </div>
            </div>

            <div class="my-4">
                <button type="submit" class="btn btn-primary"
                >Submit</button>
            </div>
            <!--end::Input group-->
            {{ form_end(form) }}
        </div>
        <!--end::Card header-->
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}