{% extends 'Admin/base.html.twig' %}
{% block title %}CMS-Preview Block{% endblock %}

{% block toolbar %}
    {% embed 'Admin/partials/toolbar.html.twig' %}
        {% block toolbar_title %}Preview Block | {{ block.title }}{% endblock toolbar_title %}

        {% block toolbar_breadcrumbs %}
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="{{ path('app_admin_page_index') }}" class="text-muted text-hover-primary">Page</a>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-500 w-5px h-2px"></span>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">
                <a href="{{ path('app_admin_block_index', {'id': block.post.page.id}) }}" class="text-muted text-hover-primary">Block</a>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item">
                <span class="bullet bg-gray-500 w-5px h-2px"></span>
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="breadcrumb-item text-muted">Preview-Block</li>
            <!--end::Item-->
        {% endblock toolbar_breadcrumbs %}

        {% block toolbar_button_actions %}

        {% endblock toolbar_button_actions %}
    {% endembed %}
{% endblock %}

{% block body %}
   <div class="card">
       <div class="card-body py-10">
           <iframe loading="{{ loop is defined and loop.index < 2 ? 'eager' : 'lazy' }}"
                   data-controller="Admin--block-admin-preview"
                   data-Admin--block-admin-preview-origin-value="{{ app.request.schemeAndHttpHost }}"
                   data-Admin--block-admin-preview-target="iframe"
                   data-Admin--block-admin-preview-request-open-gallery-value="{{ path('app_admin_gallery_core_open_list') }}"
                   data-action="Admin--picture-global:picture@background@window->Admin--block-admin-preview#listenPickedPicture"
                   sandbox="allow-scripts allow-same-origin allow-forms allow-presentation"
                   class="w-100 h-700px mb-8"
                   src="{{ path('app_admin_block_run_preview', {'id': block.id}) }}"
                   allow="fullscreen" width="600" height="400"></iframe>
       </div>
   </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}