{% extends 'Admin/base.html.twig' %}

{% block title %}CMS - Add Image{% endblock %}

{% block body %}
    {{ form_start(form, { attr: { class: "form d-flex flex-column flex-lg-row" }, action: path('app_admin_setting_add',{'id':setting.id,'type':'image'}) }) }}

    <div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">

        <!-- Card: Add New Image -->
        <div class="card card-flush py-4">
            <div class="card-header">
                <div class="card-title">
                    <h2>Add New Image</h2>
                </div>
            </div>
            <div class="card-body pt-0">

                <div class="mb-10 fv-row">
                    <label class="required form-label">Setting Key</label>
                    {{ form_widget(form.settingKey, { attr: { class: "form-control" } }) }}
                    {{ form_errors(form.settingKey) }}
                </div>
                <div class="mb-10 fv-row" id="image-preview-wrapper" style="display: none;">
                    <label class="form-label">Current Image</label><br>
                    <img id="image-preview" src="" alt="Current Image" style="max-height: 200px; border: 1px solid #ccc; padding: 5px;">
                </div>
                <div data-controller="image-preview"
                     data-image-preview-target="wrapper">
                    <div class="mb-10 fv-row" data-image-preview-target="wrapper"
                         {% if not setting.settingValue %}style="display: none;"{% endif %}>
                        <label class="form-label">Current Image</label><br>
                        <img data-image-preview-target="preview"
                             src="{{ asset(setting.settingValue) }}"
                             alt="Current Image"
                             style="max-height: 200px; border: 1px solid #ccc; padding: 5px;">
                    </div>

                    <div class="mb-10 fv-row">
                        <label class="required form-label">Upload Image</label>
                        {{ form_widget(form.settingValue, {
                            attr: {
                                class: "form-control",
                                'data-image-preview-target': "input",
                                'data-action': "change->image-preview#preview"
                            }
                        }) }}
                        {{ form_errors(form.settingValue) }}
                    </div>
                </div>


                <div class="mb-10 fv-row">
                    <label class="required form-label">Setting Value</label>
                    {{ form_widget(form.gallery, { attr: { class: "form-control" } }) }}
                    {{ form_errors(form.gallery) }}
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <a href="{{ path('app_admin_gallery_index') }}" class="btn btn-light me-5">Cancel</a>
            <button type="submit" class="btn btn-primary">
                <span class="indicator-label">Save Image</span>
                <span class="indicator-progress">Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>
        </div>
    </div>

    {{ form_end(form)   }}

{% endblock %}
